:root {
  
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/***********************************/
  /* Design tokens */
/***********************************/

:root {
  /* colors */
  --dark-cyan: 158 36% 37%;
  --cream: 30 38% 92%;
  --dark-blue: 212 21% 14%;
  --dark-grayish-blue: 228 12% 48%;
  --white: 0 0% 100%;
  /* typography */
  --main-font-size: 14px;
  --font-sans-serif: 'Montserrat';
  --font-serif: 'Fraunces';

  /* sizes */

  --fs-100: 0.8rem;
  --fs-200: 1.5rem;
  --fs-400: 2.2rem;
  --fs-800: 2.3rem;

}

html {
  font-size: var(--main-font-size);
  box-sizing: border-box;
  
}

/* main {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
 
}

.product-card {
  background-color: lightgreen;
  grid-column: 2 / 3;
  padding: 2rem;
} */

.container {
  display: grid;
}

.flex {
  display: flex;
}

.bg-primary {
  background-color: hsl(var(--cream));
}

.bg-accent {
  background-color: hsl(var(--dark-cyan));
}
.text-primary {
  color: hsl(var(--dark-grayish-blue));
}
.text-accent {
  color: hsl(var(--dark-cyan));
}

.text-headings {
  color: hsl(var(--dark-blue));
  margin-top:0;
  font-family: var(--font-serif);
}

.text-xs {
  font-size: var(--fs-100);
}
.text-sm {
  font-size: var(--fs-400);
}
.text-2xl {
  font-size: var(--fs-800);
}

.mb-8 {
  margin-bottom: 2rem;
}

.family-secondary {
  font-family: var(--font-serif);
}

.family-primary {
  font-family: var(--font-sans-serif);
}


.product-card  {
  padding: 2rem 1rem;
  max-width: 100vh;
  margin: 2rem;
  font-family: var(--font-sans-serif);
}




.product-card img{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.product-card-body {
  background-color: hsl(var(--white));
  padding: 6rem 2rem;
  margin:0;
}

.product-card-body h1{
 position: relative;
}

[data-product-category]::before {
  position: absolute;
  top: -1.8rem;
  left: 0;
  content: attr(data-product-category);
  font-size: var(--fs-100);
  font-family: var(--font-sans-serif);
  color: var(--dark-grayish-blue);
  font-weight: lighter;
  letter-spacing: 0.4rem;
  text-transform: uppercase; 
}


.product-card-body p:last-of-type span{
  margin-left: 0.5rem;
  text-decoration: line-through;
}

.product-card-body button  {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  font-weight: bold;
}
.product-card-body button img{
  margin-right: 0.5rem;   
}

@media (min-width: 580px) {
  .container {
    background-color: lightblue;
    width: 100%;
    grid-template-columns: minmax(150px, 200px) 2fr minmax(150px, 200px);
  }
  .product-card {
   max-width: 100%;
    margin:0;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0.8rem;
  }

  .product-card img {
    border-radius: 0;
    object-fit: cover;
    height: 100%;
  }
}






