/***********************************/
/* Design tokens */
/***********************************/
:root {
  /* colors */
  --dark-cyan: 158 36% 37%;
  --cream: 30 38% 92%;
  --dark-blue: 212 21% 14%;
  --dark-grayish-blue: 228 12% 48%;
  --white: 0 0% 100%;
  /* typography */
  --main-font-size: 14px;
  --font-sans-serif: 'Montserrat';
  --font-serif: 'Fraunces';

  /* sizes */

  --fs-100: 0.8rem;
  --fs-200: 1rem;
  --fs-400: 2rem;
  --fs-800: 2.3rem;

  /* border radius */
  --border-radius: 0.5rem;

}

/* ********************** */
/* Reset  */
/* ********************** */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}



/* Set up the body  */
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--font-sans-serif);
  font-size: var(--fs-200);
  color: hsl(var(--dark-grayish-blue));
  background-color: hsl(var(--cream));
  display: grid;
  grid-template-rows: min-content 1fr;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with  */
input,
button,
textarea,
select {
  font: inherit;
}




/* utility classes */
.flex {
  display: flex;
}

.mb-2 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mb-5 {
  margin-bottom: 1.8rem;
}
.mb-6 {
  margin-bottom: 2rem;
}

.text-accent {
  color: hsl(var(--dark-cyan));
}

.text-white {
  color: hsl(var(--white));
}

.text-xl {
  font-size: var(--fs-400);
}

.text-normal {
  font-size: var(--fs-200)
}

.family-primary {
  font-family: var(--font-sans-serif);
}
.family-secondary {
  font-family: var(--font-serif);
}

.bg-accent {
  background-color: hsl(var(--dark-cyan));
}

.container {
  padding: 1rem;
}

.product-card {
  border-radius: var(--border-radius);
  border: 1px solid lightgray;
  max-width: 375px;
  margin-inline: auto;
  box-shadow: 2px 4px 20px hsl(var(--dark-cyan) / 0.2);
}

.product-card > img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.product-card-body {
  flex-direction: column;
  padding: 2rem;
  background-color: hsl(var(--white));
  justify-content: space-around;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
 
}

.product-card-body p:last-of-type {
  align-items: center;
}

.product-card-body p:last-of-type span {
  margin-left: 2rem;
  text-decoration: line-through;
  color: hsl(var(--dark-grayish-blue));
}

.heading {
  color: hsl(var(--dark-blue));
  line-height: 1;
  
}

.btn {
  border: 0;
  padding: 0.8rem 0.5rem;
  justify-content: center;
  align-items: center;
}
.btn-icon {
  margin-right: .5rem
}

@media screen and (min-width: 950px) {

  .container {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    padding: 0;
  }

  .product-card {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .product-card > img {
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--border-radius);
    object-position: center revert ;
  }

  .product-card-body {
    border-top-right-radius: var(--border-radius);
  }
  

}




